blockquote,img,pre {
    box-shadow: var(--box-shadow)
}

@font-face {
    font-family: selawksl;
    src: url(asses/selawksl.ttf)
}

@keyframes details-show {
    from {
        opacity: 0;
        transform: var(--details-translate,translateY(-.5em))
    }
}

details[open]>:not(summary) {
    animation: details-show 420ms ease-in-out
}

::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499
}

::-webkit-scrollbar-corner {
    background-color: #181a1b
}

::-webkit-scrollbar-thumb {
    background-color: #454a4d
}

:root {
    scrollbar-color: #454A4D #202324;
    font-size: 16px
}

* {
    color: #333;
    --box-shadow: 0.5px 1px 1px hsl(0deg 0% 40% / 0.075),1px 2px 2px hsl(0deg 0% 40% / 0.075),2px 4px 4px hsl(0deg 0% 40% / 0.075),4px 8px 8px hsl(0deg 0% 40% / 0.075);
    --box-shadow-dark: 0.5px 1px 1px hsl(0deg 0% 10% / 0.2),1px 2px 2px hsl(0deg 0% 10% / 0.2),2px 4px 4px hsl(0deg 0% 10% / 0.2),4px 8px 8px hsl(0deg 0% 10% / 0.2);
    line-height: 1.6rem
}

body {
    background: #fffaee;
    width: 80%;
    max-width: 700px;
    margin: auto;
    padding-top: 0;
    font-family: monospace;
    font-weight: 350;
    transition-duration: 0.4s;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    line-height: 1;
    font-family: "Segoe UI",selawksl,sans-serif
}

h1 {
    font-size: 3rem
}

h2 {
    font-size: 2.2rem
}

h3 {
    font-size: 1.8rem
}

h4 {
    font-size: 1.6rem
}

h5 {
    font-size: 1.5rem
}

h6 {
    font-size: 1.25rem
}

ol,p,ul {
    font-weight: 350
}

details {
    padding: 2rem 0
}

.no-bullets {
    list-style-type: none
}

blockquote,pre {
    background: #ccc8be;
    padding: 1rem 2rem;
    border-radius: 4px
}

code {
    background: #ccc8be;
    padding: 0.2rem 0.3rem;
    border-radius: 4px
}

blockquote {
    border-left: 2px solid #333
}

hr {
    max-width: 70%;
    margin: 4rem auto
}

img {
    width: 100%
}

img.pfp {
    width: 8rem;
    border-radius: 50%;
    display: block;
    margin: auto;
}

a:hover {
    text-decoration: none
}

a:visited {
    color: #999
}

@media (max-width: 600px) {
    :root {
        font-size:15px
    }

    body {
        width: 85%
    }
}

@media (prefers-color-scheme: dark) {
    * {
        color:#fffaee
    }

    body {
        background: #33312f
    }

    a:visited {
        color: #888
    }

    blockquote,img,pre {
        background: #262423;
        box-shadow: var(--box-shadow-dark)
    }

    code {
        background: #262423;
    }

    blockquote {
        border-left: 2px solid #ccc8be
    }
}